body{
    background-image: linear-gradient(to right, #031027, #08203D, #031027);
}

input{
    background-color: #3096B7;
    border: none;
    text-indent:15px;
    height: 50px;

   
    color: white;
}

input:focus {
    outline: none;
    border: solid 2px #D49943;
 }

 ::placeholder{
    font-family: 'Lexend Mega';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 11px;
    color: #ADADAD;
}


.add-button{
    font-size: 20px;
    color: #D49943;
}

.available-area{
    width: 550px;
}

.products-area{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}





.separate-div{
    border-top: solid 1px #3C4043;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

   
}

.separate-div  h2{
    letter-spacing: -0.12em;
    color: #ECECEC;
    margin-left: 5px;
    font-weight: 700;
}



.confirmation-button{
    width: 550px;
    height: 70px;
    background-color: #D49943;
    position: fixed;
    bottom: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirmation-button     p{
    color: white;
    font-size: 27px;
    font-weight: 700;
}


.sized-box{
    height: 110px;
}
@media(max-width: 550px) {
    .main-container, .confirmation-button, .available-area{
        width: 100%;
    }



}

