body{
    background-image: linear-gradient(to right, #031027, #08203D, #031027);
}

.main-container{
    min-height: 100vh;
    width: 550px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


input{
    background-color: #3096B7;
    border: none;
    text-indent:15px;
    height: 50px;

   
    color: white;
}
input:focus {
    outline: none;
    border: solid 2px #D49943;
 }

 ::placeholder{
    font-family: 'Lexend Mega';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 11px;
    letter-spacing: -0.16em;
    color: #ADADAD;
}


.add-button{
    font-size: 20px;
    color: #D49943;
}

.sized-box{
    height: 110px;
}
@media(max-width: 550px) {
    .main-container{
        width: 100%;
    }
}

